<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  internalLogFile="C:\NLogError\NLog.log"
	  throwConfigExceptions="true">

	<targets>
		<target name="logfile"
				xsi:type="File"
				encoding="UTF-8"
				fileName="${specialfolder:folder=ApplicationData}/SQICS/logs/logfile.txt"
				archiveFileName="${specialfolder:folder=ApplicationData}/SQICS/logs/archives/logfile-{#}.txt"
				archiveEvery="Wednesday"
				archiveDateFormat="yyyyMMdd"
				maxArchiveFiles="30"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="logfile" />
	</rules>
</nlog>